.header__lang-link{
  margin: 0 14px 0 0;
  font-size: 1.5em;
  line-height: 1.55;
  max-height: 28px;
  font-style: normal;
  font-weight: normal;
  background-color: #2a2c2f;
  color: white;
}
.header__lang-link:nth-child(2n){
  margin: 0;
}

@media screen and (max-width: 600px) {
  .header__lang-link{
    max-width: 20px;
    font-size: 18px;
    line-height: 20px;
  }
}
