.places{
  grid-column: 3/4;
  margin: 68px auto 0 auto;
  display: grid;
}

@media (max-width: 1024px) {
  .places{
    grid-column: 2/3;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .places{
    grid-column: 2/3;
    max-width: 100%;
    margin: 68px 0 0 0;
    width: 600px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .places{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, max-content));
  }
}
