.places{
  grid-column: 3/4;
  margin: 68px auto 0 auto;
  display: grid;
}

@media (max-width: 1024px) {
  .places{
    grid-column: 2/3;
    max-width: 100%;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .places{
    grid-column: 1/-1;
    margin: 64px 24px 0 24px;
  }
}

@media (max-width: 600px) {
  .places{
    margin: 62px 0 0 0;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .places{
    margin: 38px 0 0 0;
  }
}
