.place__image{
  max-width: 460px;
  object-fit: cover;
  grid-area: img;
}

@media screen and (max-width: 1024px) {
  .place__image{
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image{
    width: 340px;
  }
}

@media screen and (max-width: 702px) {
  .place__image{
    width: 100%;
    grid-area: img;
  }
}

@media screen and (max-width: 320px) {
  .place__image{

  }
}
