.lead{
  grid-column: 3/4;
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead{
    grid-column: 2/3;
  }
}

@media screen and (max-width: 768px) {
  .lead{
    grid-column: 1/-1;
  }
}
