.cover__subtitle{
  font-size: 1.125rem;
  line-height: 1.375;
  max-width: 360px;
  text-align: center;
  color: #fff;
  grid-row: 3/4;
  margin: 32px 0 0 0;
  z-index: 1;
}

@media screen and (max-width: 441px) {
  .cover__subtitle{
    font-size: .95rem;
    max-width: 75%;
    padding: 0;
  }
}

@media screen and (max-width: 335px) {
  .cover__subtitle{
    font-size: .65rem;
    margin-top: 20px;
  }
}
