.header{
  padding: 28px 48px 0 48px;
  max-width: 1194px;
  margin: 0 auto 58px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .header{
    padding: 28px 24px 0 24px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header{
    padding: 10px 16px 0 16px;
    margin-bottom: 45px;
    align-items: center;
  }
}
