.lead__title{
  max-width: 720px;
  font-weight: 900;
  font-size: 6em;
  line-height: 1.05;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .lead__title{
    max-width: 60%;
    font-size: 3em;
    line-height: 1.05;
  }
}
@media screen and (max-width: 566px) {
  .lead__title{
    max-width: 80%;
    box-sizing: border-box;
    font-size: 40px;
    line-height: 44px;
    min-height: 100px;
  }
}
@media screen and (max-width: 350px) {
  .lead__title{
    max-width: 100%;
  }
}
