.lead__title{
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 723px) {
  .lead__title{
    max-width: 80%;
    font-size: 60px;
    line-height: 64px;
  }
}
@media screen and (max-width: 566px) {
  .lead__title{
    max-width: 80%;
    box-sizing: border-box;
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (max-width: 350px) {
  .lead__title{
    max-width: 100%;
  }
}
