.place__paragraph{
  grid-area: paragraph1;
  margin: 0;
  font-size: 18px;
  line-height: 163%;
  max-width: 100%;
  word-wrap: break-word;
}

.place__paragraph:nth-last-child(-n+1){
  grid-area: paragraph2;
  margin-top: 26px;
}

@media all and (max-width: 700px) {
  .place__paragraph:nth-last-child(-n+1){
    margin-top: 0;
  }
}
