.lead__subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 1.875em;
  line-height: 1.25;
  text-align: center;
  margin: 32px auto 62px auto;
  padding: 0;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle{
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 566px) {
  .lead__subtitle{
    font-size: 16px;
    line-height: 20px;
    max-width: 60%;
    margin: 16px auto 56px auto;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle{
    margin: 16px auto 40px auto;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle{
    max-width: 100%;
  }
}
