.links__lang-link{
  margin: 0;
  font-size: 1.5em;
  line-height: 1.55;
  font-style: normal;
  font-weight: normal;
  background-color: #2a2c2f;
  color: white;
  text-decoration: none;
  display: flex;
}



@media screen and (max-width: 600px) {
  .links__lang-link{
    max-width: 20px;
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 600px) {
  .links__lang-link{
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .links__lang-link{
    font-size: 18px;
    line-height: 20px;
    align-self: flex-end;
  }
}


