.lead__caption{
  margin: 8px 0 92px 0;
  font-size: .6em;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption{
    margin: 8px 0 88px 24px;
  }
}

@media screen and (max-width: 566px) {
  .lead__caption{
    margin-left: 16px;
    margin: 0 0 64px 24px;
  }
}
