.cover__title{
  grid-row: 2/3;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1;
  text-align: center;
  max-width: 560px;
  text-align: center;
  margin: 20px 0 0 0;
  z-index: 1;
  text-decoration: none;
  color: #fff;
}
