.footer{
  grid-column: 2/5;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 90px auto 24px auto;
}

@media screen and (max-width: 1024px) {
  .footer{
    margin: 94px 48px 24px 48px;
  }
}

@media screen and (max-width: 900px) {
  .footer{
    margin: 92px 24px 24px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer{
    margin: 82px 24px 24px 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer{
    margin-top: 64px;
    flex-direction: column;
    gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer{
    margin: 65px 16px 0 16px;
  }
}
